* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main_box{
    position: relative;
    background: url('image.jpg') right no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
} 

.main_box .sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);;
}

.sidebar_menu .logo a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    left: 50px;
    line-height: 60px;
}

.sidebar_menu .menu{
    position: absolute;
    top: 75px;
    width: 100%;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 8px 20px;
    transition: all 0.3s linear;
}

.sidebar_menu .menu i{
    color: #fff;
    padding-right: 8px;
    font-size: 20px;
}

.sidebar_menu .menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu li:hover{
    border: 1px solid #fff;   
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .social-media{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.social-media .link {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.social-media .link:hover{
    opacity: 1;
    transform: scale(1.2);
}

.link:nth-child(1):hover {
    background-color: #124280;
    width: 35px;
    height: 35px;
}

.link:nth-child(2):hover {
    background-color: #0a87ad;
    width: 35px;
    height: 35px;
}

.link:nth-child(3):hover {
    background-color: #1d0fa1;
    width: 35px;
    height: 35px;
}

.link:nth-child(4):hover {
    background-color: #b133a6;
    width: 35px;
    height: 35px;
}

.link:nth-child(5):hover {
    background-color: #3a393b;
    width: 35px;
    height: 35px;
}

#check{
    display: none;
}

.main_box .btn_one{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.main_box .btn_two{
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.btn_one i:hover{
    font-size: 29px;
}

.btn_one i:hover{
    font-size: 24px;
}

#check:checked ~ .sidebar_menu{
    left: 0
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .btn_two i{
    opacity: 1;
}
